[submodule "tools/ncmdump-rs"]
	path = tools/ncmdump-rs
	url = https://github.com/RespawnLabs1/ncmdump-rs.git
[submodule "tools/pb-mapper"]
	path = tools/pb-mapper
	url = https://github.com/RespawnLabs1/pb-mapper.git
[submodule "patches/object_store"]
	path = patches/object_store
	url = https://github.com/RespawnLabs1/arrow-rs-object-store.git
	branch = dev
[submodule "deps/lance"]
	path = deps/lance
	url = https://github.com/RespawnLabs1/lance.git
[submodule "deps/lancedb"]
	path = deps/lancedb
	url = https://github.com/RespawnLabs1/lancedb.git
[submodule "deps/juicefs"]
	path = deps/juicefs
	url = https://github.com/RespawnLabs1/juicefs.git
[submodule "deps/ffmpeg-sidecar"]
	path = deps/ffmpeg-sidecar
	url = https://github.com/RespawnLabs1/ffmpeg-sidecar.git
[submodule "deps/pingora"]
	path = deps/pingora
	url = https://github.com/RespawnLabs1/pingora.git
	branch = feat/static-flow
[submodule "deps/gpt2api_rs"]
	path = deps/gpt2api_rs
	url = https://github.com/RespawnLabs1/gpt2api_rs.git
[submodule "deps/AntigravityManager"]
	path = deps/AntigravityManager
	url = https://github.com/RespawnLabs1/AntigravityManager.git
